*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
a{
    text-decoration: none;
    color: white;

}

nav{
    background-color: red;
    width: 100vw;
    height: 4rem;
    position: fixed;
    top: 0;
    z-index: 11;
}
.nav_container{
    height: 100%;
    display: flex;
justify-content: space-between;
align-items: center;

}

.nav_menu{
    display: flex;
    align-items: center;
    gap: 4rem;
    
}

nav button{
    display: none;
}