*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    background-color:blueviolet
    /* color: white; */
}
a{
    text-decoration: none;
    color: white;
    font-weight: 600;

}

nav{
    /* background-color: red; */
    width: 100vw;
    height: 4rem;
    position: fixed;
    top: 0;
    z-index: 11;
    /* background-color: aliceblue; */
}
.nav_container{
    height: 100%;
    display: flex;
justify-content: space-between;
align-items: center;

}

.nav_menu{
    display: flex;
    align-items: center;
    gap: 4rem;
    
}

nav button{
    display: none;
}

/* +++++++++++++++++Header++++++++++++ */
header{
    position: relative;
    top: 5rem;
    overflow: hidden;
    height: 90vh;
    margin-bottom: 5rem;

}
.header_container{
    display: grid;
    grid-template-columns:1fr 1fr;
    align-items: center;
    gap: 5rem;
    height: 100%;
    width: 100%;
}

.header_lef .btn{
    padding: 10px 25px;
    background-color:#cccccc;
}